.banniere{
    background-image: url('../img/banniere-four.jpeg');
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    /* background:red; */
}

.box-iframe{
    display: flex;
    margin:10px;
}

.box-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo-contact{
    height:100px;
}

.number{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
}

.adress{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
}

.container-hours{
    background-image: url('../img/bread-header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    height:50vh;
    margin-top:50px;
}

.bg-dark{
    position: relative;
    background-color: black;
    height:50vh;
    z-index: 23;
    margin-top:-335px;
    opacity: 0.5;
}

.content-hours{
    position: relative;
    z-index: 24;
    margin-top:-335px;
    color:white;
    padding:70px;
}