.banniere{
    background-image: url('../img/banniere-four.jpeg');
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    /* background:red; */
}

.box-iframe{
    display: flex;
    margin:10px;
}

.box-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo-contact{
    height:100px;
}

.number{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
}

.adress{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.6em;
}