@media screen and (max-width: 640px) {
    body{
        /* background: red; */
    }

    .banniere{
        display: none;
    }

    a{
        font-size: 1em;
    }

    .container-content{
        flex-wrap: wrap;
    }

    .vitrine{
        width: 100%;
    }
    .aside-right{
        display: none;
    }

    .aside-bottom{
        align-items: center;
        flex-direction: column;
    }

  }