@media all and (min-width: 480px) and (max-width: 1024px) {
    body{
        /* background: blue; */
    }

    .container-content{
        flex-wrap: wrap;
        background: none;
    }

    .banniere{
        display: none;
    }

    .aside-right{
        display: none;
    }

    .aside-left{
        margin:auto;
    }

    .aside-bottom{
        align-items: center;
        margin-top:20px;
    }

    .box-slider{
        display: none;
    }

    .title-feedback{
        display: none;
    }

 }
