@media all and (min-width: 480px) and (max-width: 1024px) {
    body{
        background: blue;
    }

    .container-content{
        flex-wrap: wrap;
    }

    .banniere{
        display: none;
    }

    .aside-right{
        display: none;
    }

    .vitrine{
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .aside-bottom{
        align-items: center;
        margin-top:-20px;
    }

    .box-slider{
        display: none;
    }
 }
